@model IEnumerable<ECommerceWebsite.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12">

         <div id="card" class="card">
            <img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="..." height="150px" width="150px"/>
            <div class="card-body">
                        <h5 class="card-title">@item.ProductName
                            <br /><p>@item.Price &#x20b9</p>
                        </h5>
                
                <p class="card-text">@item.Discription</p>

                
               
            </div>
                    <div class="card-footer">
                        @if (item.Stock > 0)
                        {
                            <b>Available</b>
                        }
                        
                        else
                        {
                            <b>Out of Stock</b>
                        }
                        <span style="float:right" ><a href="#" class="btn btn-primary btn-sm"  >View Product</a></span>
                    </div>
                   
         </div>
        </div>
    }
    </div>
</div>

     